<div id="superman" class="mitad">
<%= link_to "Superman Home's page",pages_superman_path  %>
	<%= form_tag({:controller => "pages", :action => "voto_superman"}, :method => "post") do %>   
	   <%= label_tag "email", "Ingresa tu Email" %>
	   <br>
	   <%= text_field_tag "email", "", :size => 20, :maxlenght => 5, :placeholder => "Email", :required => "required" %>
	   <br/>   
	   <%= submit_tag "Votar Superman" %>
	<% end %>
</div>

<div id="batman" class="mitad">
<%= form_tag({:controller => "pages", :action => "voto_batman"}, :method => "post") do %>   
   <%= label_tag "email", "Ingresa tu Email" %>
   <br>
   <%= text_field_tag "email", "", :size => 20, :maxlenght => 5, :placeholder => "Email", :required => "required" %>
   <br/>   
   <%= submit_tag "Votar Batman" %>
<% end %>

</div>

<script type="text/javascript">
  $("#superman").backstretch("<%= image_path 'superman.jpg' %>");
  $("#batman").backstretch("<%= image_path 'batman.png' %>");
	
</script>